@-ms-viewport{
  width: extend-to-zoom;
  zoom: 1.0;
}
/* as found here: https://webdesign.tutsplus.com/articles/quick-tip-dont-forget-the-viewport-meta-tag--webdesign-5972 */
@media screen and (max-width: 700px) {

}

@media screen and (min-width: 700px) {

}

body {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background-color: #fff;
  color: #000;
  width: 100%;
}

#navbar {
  position: sticky;
  top: 0;
  height: 5vh;
  width: 100%;
  margin: 0;
  background-color: orange;
  /*display: none;*/
}

#navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
}

h1, p, ul {
  margin: 0;
}

#welcome-section {
  height: 95vh;
  background-color: purple;
}

#projects {
  background-color: green;
  height: 50vh;
}

#contact {
  background-color: yellow;
  height: 20vh;
}
